<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title><%= page%></title>
<body>

  <h1>hello</h1>
  <form action="/getData" method="POST">
  <input type="text" name="title">
  <button type="submit">send</button>
  </form>
  <button type="text"><a href="/output"></a>output</button>

</body>
</html>